torch==2.0.1
torchvision==0.15.2
jmespath==0.10.0
python-dateutil==2.8.2
diffusers==0.29.1
transformers
accelerate==0.21.0
opencv-python==4.8.1.78
einops==0.7.0
botocore==1.34.139
gradio==4.37.2
basicsr
